<h3>11 + Mock Tests</h3>
<div class="paragraph">
    Value Learning 11 Plus Mock Test Days are open to all of its course students as
    well
    as anyone who would like the opportunity to sit 11+ tests in exam conditions. We
    offer Value Learning 11+ “CEM” (Berkshire) and GL (Buckinghamshire) Mock tests.
</div>
<div class="paragraph">
    Venue: Maiden Erleigh School Silverdale Rd, Earley, Reading RG6 7HS. <br>
    Cost: £70. <br>
    Format: 11+ Mock Tests multiple choice comprises Non-Verbal Reasoning, Numerical
    reasoning, Verbal Reasoning & English Comprehension.
</div>

<div class="paragraph">
    The tests are split into sections which are timed separately, but the total time
    for
    each test is 45-50 minutes. The 11+ mock bespoke tests have been carefully
    written
    by the Director of Learning and team of experienced teachers.
</div>
<div class="paragraph">
    Value Learning 11+ Mock tests benefits for your child’s

    <ul>
        <li>Ability to cope with exam pressure</li>
        <li>Confidence to complete real 11+ exams within time</li>
        <li>Review of the most challenging questions by 11+ tutors</li>
        <li>Additional tips and strategies on</li>
    </ul>
</div>

<div class="paragraph">
    Many pupils find this very helpful in handling exam pressure as it enhances
    their
    confidence to complete the actual exams in the time allowed. It can also
    highlight
    weak areas which could be improved before the child has to sit the examination.
</div>
<div class="paragraph">
    <p><b>How to book</b></p>
    Book 11 plus mock test in 3 easy steps: <br>

    <ul>
        <li>Click the “book now” button for the desired date and exam board.</li>
        <li>Complete registration form</li>
        <li>Pay for the test.</li>
    </ul>
</div>

<div class="paragraph">
    <table border="1px">
            <tbody>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>Date</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Session</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Click to Book</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>27 April 2019</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>9:30 AM - 11:45 AM</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Fully Booked</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>15 June 2019</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>2:00 PM - 4:15 PM</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Book Mock Test Now</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>29 June 2019</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>9:30 AM - 11:45 AM</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Book Mock Test Now</span></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><span>6 July 2019</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>9:30 AM - 11:45 AM</span></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p><span>Book Mock Test Now</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
</div>



<div class="paragraph">
    <p><b>Confirmation</b></p>
    Receive confirmation of payment from PayPal.
    Your child is automatically booked and you do not need to confirm your place
    with
    us, however, if you do not receive a confirmation from PayPal, contact us on
    0118
    9311186.
</div>

<div class="paragraph">
    <p><b>Results & Review</b></p>
    You will receive: <br>

    <ul>
        <li>Detailed feedback including child’s score and ranking within 3 working
            days</li>
        <li>
            Highlighted question types on each subject that could be improved prior
            to the real
            exam
        </li>
    </ul>
</div>

<div class="paragraph">
    Please note, once tests are booked the fees are non-refundable unless cancelled
    by
    Value Learning where a full refund will be due. Please see the Terms and
    Conditions
    section for a full list of our terms.
</div>


<p class="bottom-extender">

</p>