<h3>Parents</h3>

<div class="paragraph">
    As a parent you care about your child’s future, and you know their achievement at school can make all the difference
    to their success in later life. Value Learning’s after school tuition provides individualized learning with positive
    and corrective feedback combined with lots of support, this brings improvement and develops confidence in every
    child. We make learning fun!
    Contact us for an initial discussion on 0118 9311186.
</div>

<div class="paragraph">
    <b class="d-xl-block">Why Value Learning?</b>
    Value Learning tuition provide caring, reassuring and supportive tuition, which brings improvement to your child’s
    learning and builds their confidence to fulfil their potential.
    Val(PUT FROM SHEET SENT TO 11PLUS)
    Value Learning Philosophy – Every child has the potential to achieve well
    Value Learning Promise - Give 100% support to every child to achieve their educational goals.

    <b class="d-xl-block">Teaching methods (put from 11 Plus)</b>
    We believe every child is unique and as part of meeting their individual needs, we support their learning styles to
    ensure each child is working to their maximum potential.
    as a guide to enhance their learning experience. We place a high value on your child’s learning and utilize a mix of
    innovative teaching strategies to make difficult concepts easier and enhance the learning experience.
    <b class="d-xl-block">In small groups, we help each pupil</b>:
    <ul>
        <li>Tackle areas for improvement</li>
        <li>Build confidence</li>
        <li>Reinforce learning</li>
        <li>Achieve learning goals</li>
    </ul>
    Our students enjoy the relaxed atmosphere of the Learning Centre and friendly interaction with our tutors.
</div>

<div class="paragraph">
    <b class="d-xl-block">Progress</b>
    Progress is monitored through weekly homework and regular summative tests are held during the course. Parents are
    kept
    informed with student’s achievement through regular feedback and Parents information evening. At Value Learning, our
    pupils make huge progress because we instil a positive attitude to learning.

</div>

<div class="paragraph">
    <b class="d-xl-block">Tutors</b>
    All our tutors are DBS checked and they use their experience to craft an individualized approach to each student’s
    learning process. Our aim is to provide your child with excellent tuition and to support all abilities including
    those
    who those who are more able. Improvements soon follow as concepts are explained, revised and practiced.
</div>