<h3>Testimonials</h3>

<div class="paragraph">
        <b class="d-xl-block">
                Congratulations to all our pupils!. 81% have successfully gained a place in
                top grammar schools. 100% pass rate for <a [routerLink]="['/elevenplus/independent-schools']">Independent schools</a> in Reading.
        </b>
</div>

<div class="paragraph">
        “Thank you Value Learning, we are so pleased that our daughter got into Kendrick. The 11+ course was quite thorough and
        although hard work it has paid off. She was also offered a scholarship in the Independent school, we are spoilt for
        choice!.” Mrs B
</div>
<div class="paragraph">
        “Just to let you know “D” has been offered a place at Reading Boys and also got admission into Blue Coat. We are very
        happy and thank you so much Temi for your help in getting him there. Since coming to Value Learning, he had developed
        more confidence in himself and we are looking forward to bringing his sister in year 4?. Mrs C More Testimonials.
</div>
<div class="paragraph"><b>These are just a few of Value Learning testimonials.</b></div>



<div class="paragraph paragraph-design">
        “Thank you to all at Value Learning. Nikki got into the grammar school of his choice. The 11 plus exam preparation and
        techniques really helped. We are very pleased.” MP
</div>
<div class="paragraph paragraph-design">
        “… After attending Value learning for six months, Grace has now moved up a set in maths. I am quite pleased with the
        progress she has made so far, she has gained more confidence and has even made new friends at the Centre….”
</div>
<div class="paragraph paragraph-design">
        “… Just to let you know Phe got in to grammar school. She had a very high score. Value Learning, many thanks for your
        help, all the hard work paid off!” Ray
</div>
<div class="paragraph"><b class="d-xl-block">More Tuition Success Testimonials</b></div>
<div class="paragraph">
        “I am very pleased to tell you Rosie did very well, she scored 123 in the exam! Thank you very much for your help, we
        are bringing her younger sister to start this term.”.
</div>
<div class="paragraph">
        “We are so thrilled, Daryn got a 100% scholarship with the preferred Independent school. Thank you, thank you, thank you
        Value Learning. I am recommending you to all my friends!”. AO, Reading
</div>