<div class="container module-parent">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1>Contact Us</h1>
            <hr>
            <div class="contact-message-parent">
                <h5>Contact for Value Learning Courses</h5>
                It is a proven fact that children with bags of confidence tend to perform better in class. At Value
                learning,
                we
                work hard to build your child’s confidence with our tailored programmes. We believe every child has
                the
                potential to succeed. As a parent you care about your child’s future and you know their experiences
                at
                school
                can make all the difference to their success in later life. Value learning tuition will help your
                child
                succeed
            </div>
            <div class="contact-form-parent">
                <h5>
                    If you have any questions or enquiries, please contact Tel. 0118 9311186
                </h5>

                or
                <h5 class="write-to-us">Write to Us</h5>

                <form>
                    <div class="container contact-form">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="" required>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="">
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <mat-form-field appearance="outline">
                                    <mat-label>Subject</mat-label>
                                    <input matInput placeholder="">
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <mat-form-field appearance="outline">
                                    <mat-label>Message</mat-label>
                                    <textarea rows="7" matInput placeholder=""></textarea>
                                    <mat-hint></mat-hint>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <button mat-raised-button color="primary">Send</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>