<div class="container module-parent">
    <div class="row">
        <div class="col-12 mx-auto">
            <h1>About Us</h1>
            <hr>
            <div class="row about-heading">
                <div class="col-6">
                    <h4>Director of Learning</h4>
                </div>
                <div class="col-6 text-right">
                    <h4>Temi Joseph <h6 class="heading-span">MSc PGCE.</h6>
                    </h4>
                </div>
            </div>
            <div class="row about-content">
                <div class="col-12">
                    <p>
                        Temi has extensive teaching experience that spans over 20 years. As one of the Value
                        Learning Senior tutors, she
                        has helped many students with varying abilities to achieve their educational goals as
                        well as prepare pupils for
                        the 11 plus entrance exams. She is passionate about stimulating pupils to learn and
                        seeing students realise
                        their full potential.
                    </p>
                    <p>
                        Temi is a mentor to many young people and has numerous tuition success stories in
                        helping pupils develop
                        confidence and overcome challenges. She has a unique way of drawing out the best out of
                        every child and
                        encourages them to aim higher. Her enthusiasm and bespoke methods of teaching has proven
                        to be a “hit” amongst
                        her students.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
