<h3>11+ Summer Course</h3>
<div class="paragraph">11+ Summer Course to help your child do better: 5th – 9th
    August 2019.</div>
<div class="paragraph">Venue: Earley Resource Centre, Warbler drive , Reading RG6
    4HB</div>

<div class="paragraph">The fee for the week is £400 including all course materials.
    <b>
        Book now as spaces are limited.
    </b>
</div>
<div class="paragraph">
    <p><b>How to book</b></p>
    <ul>
        <li>Visit our 11 plus shop (link straight to VL summer course)</li>
        <li>Complete registration form</li>
        <li>Pay for the course</li>
    </ul>
</div>
<div class="paragraph">
    <p>
        Why not book for the 11+ mock test at the same time and receive a bonus free
        download.
    </p>
    <p>Please note fees are non-refundable once booked.(put this in product description)
    </p>

    <p>
        11+ Intensive Summer Course Information <br>
    </p>
        <pre>
5th – 9th August 2019.
Monday – Friday 9.30am – 12.30 pm.</pre>
       
    
</div>

<div class="paragraph">
    <p><b>11+ Verbal Reasoning</b></p>
    Emphasis will be on all aspects including the following: <br>
    <ul>
        <li>Synonyms and antonyms</li>
        <li>Odd one out</li>
        <li>Word association</li>
        <li>Jumbled up sentences</li>
        <li>Double meaning</li>
        <li>Spelling etc</li>
    </ul>
</div>


<div class="paragraph">
    <p><b>11+ Non- verbal Reasoning</b></p>

    Children will: <br>
    <ul>
        <li>Learn how to do all questions types including rotation of 3D shapes and
            nets.</li>
        <li>Engage in exercises and activities to help with sequencing and visual
            perception.</li>
        <li>Learn how to use the correct strategies in order to improve accuracy.
        </li>
    </ul>
</div>

<div class="paragraph">
    <p><b>11+ Maths/Numerical reasoning</b></p>

    Revision topics include: <br>
    <ul>
        <li>Number & Algebra</li>
        <li>Shape & Space</li>
        <li>Measures & Handling data.</li>
        <li>Logic & Problem solving</li>

    </ul>
    Children will learn useful quick methods and strategies in order to tackle word
    problems with confidence.
</div>

<div class="paragraph">
    <p><b>11+ English</b></p>
    We will cover the major aspects of the 11+ English exams: <br>
    <ul>
        <li>Comprehension</li>
        <li>Cloze tests & spelling</li>
        <li>Grammar & word building puzzles.</li>
    </ul>
</div>

<div class="paragraph">
    <p><b>Timing and Exam Technique</b></p>
    Children will be given help with time management in order to facilitate the
    completion of the 11+ tests as much as possible, within the time allowed. Your
    child
    will enjoy the games and activities during the week to keep them engaged and
    make
    learning fun. There will be homework ( practice papers and timed exercises)
    given
    everyday which could last up to 1.5 hours.
</div>
<p><b>Spaces are limited so book early. Closing date is 31st July 2019.</b></p>

<p class="bottom-extender">

</p>