<div mat-dialog-title>
    <h4 class="terms-heading">Terms and conditions </h4>
    <div class="close-icon">
        <i (click)="close()" class="material-icons">
            close
        </i>
    </div>
</div>
<mat-dialog-content class="terms-content">
    <div class="outer-paragraph">
        <div class="inner-paragraph">
            Value Learning CANNOT guarantee that the results your child achieves on the mock test papers will reflect
            the results they achieve in their real 11 plus exam. The aim of the mock test is to give your child the
            opportunity to sit Value Learning 11plus papers under exam conditions. We do not take responsibility of
            omission or inclusion of any question types in the papers.
        </div>
        <div class="inner-paragraph">
                Results will be presented in percentage and a median score for the sitting for each paper will be included
                for peer comparison. It will also highlight specific areas of weaknesses for each pupil which could be
                improved before the real 11 plus exam. Please note we DO NOT return the marked papers and they are NOT
                available for sale.
        </div>
    </div>

    <div class="outer-paragraph">
        <div class="inner-paragraph">

        </div>
    </div>
</mat-dialog-content>