.close-icon{
    float: right;
    cursor: pointer;
}

.terms-heading{
    float: left
}

.terms-content{
    clear:both;
}

.outer-paragraph{
    margin-top: 50px;
}

.inner-paragraph {
    margin-top: 25px;
}