<mat-tab-group mat-stretch-tabs [selectedIndex]=tabIndex headerPosition="above">
  <mat-tab label="Login">
    <mat-card class="login-mat-card mat-elevation-z">
      <mat-card-header>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group class="header-less-tabs" [selectedIndex]="noHeaderTabIndex">
          <mat-tab label="no-header-login">
            <form class="example-form align-middle">
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput="" [(ngModel)]="user.username" name="username" required>
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="anchor text-left" (click)="backToLogin()">Back to Login</div>
                </div>
                <div class="col">
                  <button mat-raised-button (click)="sendResetLink()" color="primary">Send me the reset link</button>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="no-header-login">
            <form class="example-form align-middle">
              <div class="row justify-content-center">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput="" [(ngModel)]="user.username" name="username" required>
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput="" type="password" [(ngModel)]="user.password" name="password" required>
                    <mat-hint></mat-hint>
                    <mat-error>Incorrect Credentials</mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col">
                  <mat-checkbox [(ngModel)]="rememberMe" name="remember-me">Keep me logged in</mat-checkbox>
                </div>
                <div class="col">
                  <div class="forgot-password anchor text-right" (click)="forgotPassword()">Forgot Password?</div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-4 text-center">
                  <button mat-raised-button (click)="login()" color="primary">Login</button>
                </div>
              </div>
              <div class="row">
                  <div class="col">
                    <div class="bottom-extender">
                      
                    </div>
                  </div>
                </div>
            </form>
          </mat-tab>
          <mat-tab label="no-header-forgot-password">
            <form class="example-form">
              <div class="row">
                <div class="col">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input matInput="" [(ngModel)]="user.username" name="username" required>
                    <mat-hint></mat-hint>
                  </mat-form-field>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col">
                  <div class="anchor text-center" (click)="backToLogin()">Back to Login</div>
                </div>
                <div class="col text-center">
                  <button mat-raised-button (click)="sendResetLink()" color="primary">Send me the reset link</button>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="bottom-extender">

                  </div>
                </div>
              </div>
            </form>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="Register">
    <mat-card class="register-mat-card mat-elevation-z">
      <mat-card-header>

      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <div class="row justify-content-center">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput="" [(ngModel)]="userDetails.firstname" name="firstname" required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Surname</mat-label>
                <input matInput="" [(ngModel)]="userDetails.surname" name="surname" required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput="" [(ngModel)]="userDetails.email" name="email" required>
                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput="" type="password" [(ngModel)]="password1" name="password1" required>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput="" type="password" [(ngModel)]="password2" name="password2" required>

                <mat-hint></mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col text-center">
              <button mat-raised-button (click)="register()" color="primary">Register</button>
            </div>
          </div>
          <div class="row">
              <div class="col">
                <div class="bottom-extender">
                  
                </div>
              </div>
            </div>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>