.td_spacing{
    padding: 10px;
}

.full-width{
    width:100%;
}

.example-form{
width: 40vw;
height: 40vh;
}

.action-button{
    margin-left: 0px;
}

.register-mat-card, .login-mat-card{
    padding: 25px;
}

.anchor {
    display: block;
}

.login-button {
    text-align: center;
}

.keep-me-logged-in{
    padding-left: 15px;
}

.forgot-password {
    padding-right: 15px;
}

.banner{
    height: 33px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.banner-show {
    border: 1px solid darkgray;
    background-color: dimgrey;
}
