<h3>11+ Mock Tests FAQ</h3>
<div class="paragraph">
    <p><b>When should I arrive at the test centre?</b></p>
    Registration will commence 15 minutes before the start of your scheduled test.
    Students should arrive at least 10 minutes before the start of your scheduled
    test.
</div>

<div class="paragraph">
    <p><b>Where will the tests be held?</b></p>
    11+ Mock Tests will be completed at Maiden Erleigh School, Silverdale Road,
    Earley,
    Reading RG6 7HS.
</div>

<div class="paragraph">
    <p><b>Who should I notify if I am unable to make my scheduled test?</b></p>
    On the day of the Mock Test, please notify a member of the Value Learning team
    using
    07534 683605 if a student is unable to attend a scheduled mock test session.
</div>

<div class="paragraph">
    <p><b>What times are the mock test sessions?</b></p>
    <pre>
09.35 – Paper A
10.25 – Break for 10 minutes
10.35 – Paper B
11.20 – End of test
11.25 – Review and additional exam tips</pre>
</div>

<div class="paragraph">
    <p><b> What must my child bring to the mock test session?</b></p>
    Please ensure your child arrives with a small bottle of water (if desired), at
    least
    2 HB pencils and a good rubber/eraser for the multiple choice answer sheets.
    This
    should be carried into the exam room in a clear plastic pencil case / bag . It
    is
    important that your child has a good night’s sleep the previous day.
</div>

<div class="paragraph">
    May I settle my child in the exam room?
    Registration will take place at the foyer. You will not be allowed to accompany
    your
    child into the exam room itself.
</div>
<div class="paragraph">
    <p><b>What time must we arrive?</b></p>
    All students must be in the exam room by the start time of each session.
    Therefore,
    please ensure you arrive 15 minutes prior to the start of the session to ensure
    your
    child is ready to start at the beginning of the session. It is important to
    allow
    time for a quick visit to the toilet just before the session.
</div>
<div class="paragraph">
    <p><b>Can I wait at the Test Centre while my child sits the test?</b></p>
    There is unfortunately no facility within the school for all parents to wait. We
    ask
    that parents should come back at the end of the tests to collect their child
    promptly.
</div>

<div class="paragraph">
    <p><b>Can I see my child between sessions?</b></p>
    There is a 10 minute break between sessions during which your child will have a
    chance to leave the exam room, take a quick toilet break and enjoy a drink or
    snack
    (please provide). Parents are not allowed to return during the breaks as we aim
    to
    “mirror” the tests as close to the real exam as possible.
</div>

<p class="bottom-extender">

</p>