<div mat-dialog-title>
    <h4 class="privacy-heading">Privacy Policy</h4>
    <div class="close-icon">
        <i (click)="close()" class="material-icons">
            close
        </i>
    </div>
</div>
<mat-dialog-content class="privacy-content">
    <div class="outer-paragraph">
        <div class="inner-paragraph">
            Value Learning recognizes the importance of keeping personal information private and protected for its
            parents, pupils and staff.
            We adhere to the provisions of the General Data Protection Regulation (GDPR), which gives you control over
            the information we keep about you and how we contact you in future for information about our tuition
            services either directly or through 3rd party services.
            This Notice explains how we achieve these goals and gives details of our privacy practices, including what
            information we collect, how the information will be used or disclosed, and your rights with respect to our
            collection and use of personal data. By choosing to remain on our mailing list or use our tuition services,
            you are accepting the practices described in this Privacy Statement.
        </div>
    </div>
    <div class="outer-paragraph">
        <b>How and why does Value Learning collect and use personal information?</b>
        <div class="inner-paragraph">
            Value Learning’s primary reason for using personal information is to provide students with excellent
            tuition. We collect your personal information either by consent from subjects or for legitimate interests.
            This includes information such as name, date of birth, address and medical details. We have set out below
            examples of the different ways in which we use personal information.
            <ul>
                <li>To support student learning</li>
                <li>To monitor and report on student progress</li>
            </ul>
            We also collect your personal information because it helps us to notify you about our tuition services,
            products, courses, send invoices and so on. In addition, personal information helps us to continue to
            develop and improve the way the Value Learning operates and supports its parents and students.
        </div>
    </div>
    <div class="outer-paragraph">
        <b>Information we collect</b>
        <div class="inner-paragraph">
            We obtain information from your completed registration forms.
            In order for us to provide you with our services, we need to collect personal data for correspondence
            purposes and other service provisions. In any event, we are committed to ensuring that the information we
            collect and use is appropriate for this purpose. Essentially, the information we hold about you is used to
            provide you with the services or products you have requested for or to inform you of our courses and events.
            This information is being and will be used for the purposes outlined at the time of collection. In addition,
            we collect and process names, email addresses, telephone numbers and images. We may take with your
            permission, photographs or videos of your child during the teaching session or at Value Learning events to
            use on our website. This is to show prospective parents and students what we do and to advertise Value
            Learning. We may continue to use these photographs and videos after your child has left the tuition centre.
            We may send you information to keep you up to date with what is happening at Value Learning. For example, by
            sending you information about new courses and activities taking place or the Value Learning newsletter.
            We may keep details of your address when your child leaves Value Learning so we can keep in touch and find
            out how your child is progressing.
            Financial information
            We will process financial information about you in relation to the payment of resources and tuition fees on
            our website.
            However, Value Learning does not receive, store or process your payment card details when you use our
            website to pay for resources or courses. Your payment card details are entered on a secure check-out page on
            the Value Learning website and all card information is transmitted direct to our 3rd party payment
            processing provider Paypal by Secure Sockets Layer (SSL) using an encrypted link to the server. This is to
            ensure the concealment of your card details when making purchases through our website. All payments are
            processed by Paypal on our behalf and they inform us when the payment has been made successfully including
            the amount you have paid so we can process your order.
            Keeping your data secure
            Transmitting information over the internet is generally not completely secure, and we can’t guarantee the
            security of your data. Any data you transmit is at your own risk. We have procedures and security features
            in place to try and keep your data secure once we receive it.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Our legal grounds for using personal information</b>
        <div class="inner-paragraph">
            This section contains information about the legal basis that we are relying on when handling your
            information.
            We collect and use personal data in order to meet legal requirements and legitimate interests set out in the
            GDPR and UK Law, including those in relation to the Article 6 and Article 9 of the GDPR.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Legal obligation</b>
        <div class="inner-paragraph"> Where Value Learning needs to use your information in order to comply with a legal
            obligation, for example
            to report a concern about your child’s wellbeing to Children’s Services. We may also have to disclose
            information to third parties such as the courts, the local authority or the police where legally obliged to
            do so.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Legitimate interests</b>
        <div class="inner-paragraph">
            This means that the processing of personal data is necessary for appropriate and genuine interests except
            where the processing is unfair to you. We rely on legitimate interests for most of the ways in which your
            information is used. Specifically, safeguarding and promoting student welfare.
            We will need to use your information in order to perform our obligations under our contract with you. For
            example, we need your name and contact details so that we can update you on your child’s progress and so
            that we can contact you if there is a concern.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Does Value Learning disclose my information to other parties?</b>
        <div class="inner-paragraph">
            Value Learning will not provide your information to any other company or organization, unless it is required
            to do so by law, Court Order by other Government or law enforcement authorities or as described in this
            Policy Statement.
            We may need to share information such as medical information (such as name of GP, relevant medical
            conditions) if there is an emergency, for example, if your child becomes ill during the teaching session and
            needs urgent medical treatment.
            In some cases, Value Learning uses the services of leading digital service and data management service
            providers in processing your data for different purposes, including database management service, email
            services, and others. These organizations will not share this information with third parties, except for
            payment services. They are not allowed to use any personally identifiable information except for the purpose
            of record keeping and surveys.
            However, this will only be done with your consent. You may be asked to agree to the privacy policy and/or
            terms and conditions of these service providers before you can access their secure site.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Sending information to other countries</b>
        <div class="inner-paragraph">
            We may send your information to other countries where:
            We communicate with you or your child when you are overseas (for example, during the summer holidays if you
            live or travel to a different country).
            The European Commission has produced a list of countries which have adequate data protection rules. The list
            can be found here: <a tabindex="-1"
                href="http://ec.europa.eu/justice/data-protection/internationaltransfers/adequacy/index_en.htm">http://ec.europa.eu/justice/data-protection/internationaltransfers/adequacy/index_en.htm</a>

            <br><br>
            If information is stored on computer servers based overseas.
            If the country that we are sending your information to is not on the list or, is not a country within the
            EEA (which means the European Union, Liechtenstein, Norway and Iceland) then it might not have the same
            level of protection for personal information as there is the UK.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Your rights as a data subject</b>
        <div class="inner-paragraph">
            At any point while we are in possession of or processing your personal data, you, the data subject, have the
            following rights:
            • Right of access – you have the right to request a copy of the information that we hold about you.
            • Right of rectification – you have a right to correct data that we hold about you that is inaccurate or
            incomplete.
            • Right to be forgotten – in certain circumstances you can ask for the data we hold about you to be erased
            from our records. For example, where we no longer need the information..
            • Right to object – you have the right to object or withdraw your consent to certain types of processing
            such as direct marketing.
            • Right to judicial review: in the event that Value Learning refuses your request under rights of access, we
            will provide you with a reason as to why. You have the right to make an official complaint as provided by
            the law.
        </div>

    </div>
    <div class="outer-paragraph">
        <b>Security</b>
        <div class="inner-paragraph"> We take all reasonable safeguards to keep all your personal information as secure
            as is humanly possible. We
            conform to strict data handling guidelines, and all our authorized persons are made aware of their
            obligations to keep the information for authorized use only. Of course, no technology is fail-safe, but we
            have made every reasonable effort to keep our systems up to date with the relevant security measure.</div>

    </div>
    <div class="outer-paragraph">
        <b>External links</b>
        <div class="inner-paragraph"> Value Learning ’s online services may have links to various websites that we do
            not control. When you click
            on one of these links, you will be transferred out of our website and connected to the website of the
            organization or company that you have selected. Even if an affiliation exists between our websites and a
            third-party website, we exercise no control over linked sites and are not responsible for the privacy
            practices of other organizations and their websites. If you visit a website that is linked to our site, you
            should consult that site’s privacy policy before providing any personal information. This Privacy Statement
            applies solely to the information gathered by Value Learning .</div>

    </div>
    <div class="outer-paragraph">
        <b>Future policy</b>
        <div class="inner-paragraph"> We may need to update or modify this privacy statement at any time, and
            modifications are effective upon
            being posted on the Value Learning website. You are responsible for reviewing this privacy statement
            periodically to ensure that you are aware of any changes to it. If you have any questions about this Privacy
            Statement or if you want to exercise any of the rights that you are given under this Privacy Statement you
            can contact us at info@valuelearning.co.uk.</div>
    </div>
</mat-dialog-content>