<h3>
    11+ Year 5
</h3>
<b>Value Learning 11 plus tuition success for year 5</b>
<div class="paragraph">
    At Value Learning, we specialise in CEM & GL assessment exam boards and the
    course
    is tailored to suit the 11 plus exam in your area so you can be sure your child
    is
    well prepared. We cover all aspects of English/ Verbal Reasoning,
    Maths/Numerical
    reasoning and, Non-Verbal Reasoning.
</div>
<div class="paragraph">
    <p><i>What is Verbal Reasoning?</i></p>

    Verbal Reasoning refers to questions about words. They aim to test the
    candidate’s
    verbal skills and vocabulary. Verbal reasoning questions can include the
    following.

    <ul>
        <li>Synonyms (words similar in meaning) and Antonyms (opposite in meaning)
        </li>
        <li>Jumbled up words</li>
        <li>Cloze</li>
    </ul>
</div>


<div class="paragraph">
    <p><i>What is Non Verbal Reasoning?</i></p>
    Non verbal reasoning refers to questions that are designed to assess the
    candidate’s
    raw intellectual ability, independent of their language skills. Similar to IQ
    tests,
    these papers require children to reason with pictures, diagrams and unfamiliar
    designs.
    <br>
    Non verbal reasoning questions can include identifying:
    <br>

    <ul>
        <li>Isomorphic Relationships</li>
        <li>Analogic Relationships</li>
        <li>Sequencing</li>
        <li>Matrices</li>
    </ul>
</div>


<div class="paragraph">
    The 11+ Year 5 course content includes the following.
    <br>

    <ul>
        <li>Explanation of techniques for each question type</li>
        <li>Time management skills</li>
        <li>Practice and reinforcement</li>
        <li>Exam tips to tackle questions correctly.</li>
    </ul>
</div>


<div class="paragraph">
    Pupils can expect homework every week to practice the techniques they studied in
    class. We tailor our support to meet your child’s individual needs and measure
    your
    child’s progress throughout the course with regular tests and corrective
    feedback.
</div>



<div class="paragraph">
    Our tutors are on hand to answer your queries and give advice regarding your
    child’s
    progress and the examination process through regular feedback.
</div>
<div class="paragraph">
    At Value Learning, we also encourage reading and provide support and
    encouragement
    to pupils who might find comprehension challenging to grasp.
</div>

<p class="bottom-extender">

</p>