<h3>Pre 11+ Year 4</h3>

<b>Foundation Classes</b>

<div class="paragraph">Give your child a head start with time on your side. Success
    in 11 plus exams
    depends on your child having a wide range of vocabulary, logical reasoning and
    sound maths skills. This course aims to help Year 4 pupils work towards
    improving their core numeracy and literacy skills with added emphasis on
    developing their thinking/reasoning abilities prior to starting the 11+ course
    in Year 5. This will provide a stronger base to work from and boost their
    confidence for the 11 plus preparation.</div>
<div class="paragraph">Learning in a nurturing environment, they gain an
    understanding of the standard
    expected of them and are encouraged to improve their skills leading up to the
    Value Learning 11+ course for year 5 and the exam itself.</div>
<div class="paragraph">The 11+ Foundation course challenges children differently and
    really sharpens
    their core skills as well as introduces them to verbal and non-verbal reasoning.
</div>
<div class="paragraph">To find out more about our Pre 11+ year 4 course, complete
    fill in the form
    below and the course details will be sent to you.</div>
<div class="paragraph-form">
    << Insert form to request information about the Pre 11+ Year 4 Course>>
</div>



<p class="bottom-extender">

</p>