<div class="paragraph">
    <p>
        At Value Learning, we believe that with the right preparation, all students
        have
        the ability to excel and perform incredibly well in during the 11+ entrance
        examination.
    </p>

    <p>
        << -- Insert a paragraph about the years of experience Value Learning has
            amassed successfully preparing students to take their 11+ exams -->>

    </p>
    <p>
        Hence, we offer a range of courses specifically designed to prepare young
        people
        for their 11+ examination.

    </p>
</div>