<div class="paragraph">
    <h3 class="d-xl-block">Assessment</h3>
    At Value Learning , we offer initial assessment sessions for pupils interested in joining one of our courses. It
    gives us an opportunity to identify your child’s present abilities and provide some feedback prior to you deciding
    on a course.
    It not only allows us to meet parent and child individually but also gives us the springboard to personalise his or
    her learning within the small group.
    Assessments lasts for about 1 hr 30mins. The cost is £40.
    <b class="d-xl-block">To book an assessment, please call the office on: 0118 9311186 or email us.</b>
</div>


<div class="paragraph">
    <h3>Term dates 2018/19</h3>

    <b class="d-xl-block">Autumn Term</b>
<pre>
Booster classes: 25 September – 18th December 2018
11+ tuition: 26th September – 19th December 2018
Saturday classes: 29th September – 15th December 2018
Half-term: 20th-28th October
</pre>

    <b class="d-xl-block">Spring Term</b>
<pre>
Booster classes: 8th January – 26th March 2019
11+ tuition : 9 January – 27th March 2019
Saturday classes: 5 January– 30 March 2019
Half-term: 16th-24th February
</pre>

    <b class="d-xl-block">Summer Term</b>
<pre>
Booster classes:  23 April – 9 July 2019
11+ tuition : 24 April–  10 July 2019
Saturday classes: 27th April – 13th July 2019
Half-term: 27th May – 4 June
11 + summer course 2019:  5th –  9th August 2019
</pre>
</div>