<h3>Maths & English booster</h3>


<div class="paragraph">At Value Learning the extra tuition provided is designed to
    complement the school curriculum throughout the year. However, developing
    confidence, knowledge and study skills is a long- term process. The longer a
    pupil has to prepare and really get to master their subject, the more confidence
    and understanding they will have developed.
</div>
<div class="paragraph">Value Learning maths and english Booster Classes cater for
    year 3 to year 6 and our learning materials are linked to the national
    curriculum. </div>
<div class="paragraph">Our experienced maths tutors are enthusiastic about their
    subject and craft the tuition to ensure your child understands the difficult
    concepts in some maths topics and build confidence sharing their passion and
    instilling the “I can do” attitude.
</div>
<div class="paragraph">Value Learning Tuition breeds success and all our pupils soon
    get noticed in school for their rapid progression in school.</div>
<div class="paragraph-form">
    In Value Learning booster classes, we cover Key Stage 2 National Curriculum in
    Maths and English. Our main emphasis are on the following. <br>
    <br>
    English
    <ul>
        <li>Reading</li>
        <li>Comprehension</li>
        <li>Grammar and spelling</li>
        <li>Punctuation</li>
    </ul>
    At Value Learning, we also ensure your child’s literacy skills are developed
    through our in-house materials which complement the National Curriculum.
    <br>
    Maths
    <ul>
        <li>Number</li>
        <li>Measures</li>
        <li>Geometry</li>
        <li>Statistics</li>
        <li>Word problems</li>
    </ul>



</div>
<div class="paragraph">
    <p>The session lasts for one hour and ten minutes a week and each lesson will be
        targeted towards both subjects. Homework is set after each lesson and would
        usually take between 20 and 30 minutes a day to complete.</p>
    <p>Our classes are kept small with up to 12 pupils and a maximum ratio of one
        tutor to 8 pupils, so we are able to meet the individual needs of each
        child. </p>
    <p>To learn more, call us on 0118 9311186, email us using
        info@valuelearning.co.uk or submit your enquiries using our <a [routerLink]="['/contact']">Contact Us</a> page.
    </p>
</div>