<div class="container parent">
        <!-- <div class="row"> -->
        <div class="col-md-10 mx-auto">
          <div class="row">
            <!-- <div class="card-section-home col-md-1"></div> -->
            <div class="card-section-home col-md-6 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="puppies.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title background-blue">11+ Courses</h5>
                  <p class="card-text">
                    Pre-11+ Year 4 Value Learning Tuition will give your child a head start with a gradual approach to 11+
                    preparation. 
                    <br>
                    <br>
                    Click here for more information</p>

                    <div [routerLink]="['/elevenplus']" class="go">
                      <img class="arrow" src="../../assets/arrow.svg">
                    </div>
                    

                </div>
              </div>
            </div>
            <div class="card-section-home col-md-6 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="puppies.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title background-red">Maths & English Booster classes</h5>
                  <p class="card-text">To help your child do better in school. We identify and eradicate the “gaps” in your
                    child’s learning. Progress is inevitable as they gain more confidence. Maths & English for Years 4 to 6.
                    Enrol now</p>

                    <div [routerLink]="['/courses']" (click)="setContentIndex(1)" class="go">
                        <img class="arrow" src="../../assets/arrow.svg">
                      </div>
                </div>
              </div>
            </div>
            <!-- <div class="card-section-home col-md-1"></div> -->
            <!-- <div class="card-section-home col-md-1"></div> -->
            <div class="card-section-home col-md-6 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="puppies.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title background-orange">GCSE Maths tuition</h5>
                  <p class="card-text">Our classes are designed to give that extra tuition to tackle the areas students
                    perceive as hard and prepare them for the exams ahead. Click here for more information.</p>

                    <div [routerLink]="['/courses']" (click)="setContentIndex(0)" class="go">
                        <img class="arrow" src="../../assets/arrow.svg">
                      </div>
                </div>
              </div>
            </div>
            <div class="card-section-home col-md-6 col-sm-12">
              <div class="card">
                <img class="card-img-top" src="puppies.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title background-grey">11 + summer course</h5>
                  <p class="card-text">11 plus summer course to help you child do better. Book our 11 + mock test at the same
                    time and you qualify for a free download. For more information on 11+ Summer Course. Click here</p>

                    <div [routerLink]="['/elevenplus']" (click)="setContentIndex(6)" class="go">
                        <img class="arrow" src="../../assets/arrow.svg">
                      </div>
                </div>
              </div>
            </div>
            <!-- <div class="card-section-home col-md-1"></div> -->
      
            <div class="row col-md-12 mx-auto" style="padding-bottom: 7em;">
      
              <div>
      
                  Value Learning 11+ Tuition in Reading, Berkshire
                  Excellence in Maths, English and 11 Plus Tuition
         
                Our overall aim is to inspire children to reach their full potential.
              </div>
      
              <div>
                Value Learning, the after school tuition in Reading that makes a difference…. Success
                
                Value Learning provides 11+ courses in the Reading area to help pupils prepare for Grammar and Independent
                school entrance exams.
              </div>
      
              <div>
                Our booster classes for years 4 to 6 help pupils help to improve in Maths & English skills and assist in
                developing confidence to achieve well. We offer a range of personal tutoring programmes to suit individual
                ability and aspiration. Many of our pupils have achieved higher than their National curriculum targets in
                school
                as a result of attending Value Learning tuition classes. We make the learning experience fun.
                Value Learning has a dedicated team of subject specialists and enthusiastic tutors who are keen to see each
                pupil develop their full potential. At Value Learning, we believe every learner has the potential to succeed
                through our tuition classes.
              </div>
      
            </div>
      
          </div>
        </div>
        <!-- </div> -->
      </div>